$primary:#023682;
$primary-light:#0052CC;
$white:#FFFFFF;
$white-light:#FFFFFF;
$yellow:#FEBA0F;
$yellow-light:#E7BD50;
$green:#71C11F;
$blue-light:#007bff;


$gray-light:#EFF4FA;
// $gray-light:#e3e5e9;
$gray-light2:#BCC1C7;
// $gray-light2:#989b9efd;
$gray-light3:#F7F8FC;
// $gray-light3:#e6e6e9;
$gray-dark:#cccc;
$gray-dark2:#dddd;
$grat-dark3:#EEF2F3;

$red:#EF4126;
$red-light:#FF5768;