.dropzone{
border-radius: 4px !important;
background-color: $gray-light3!important;
border: 2px solid $gray-dark2 !important;
}
.submit-btn{
    background-color: $primary-light;
    border: 1px solid $primary-light;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px 30px !important;
    font-size: 16px ;
    font-weight: 500;
    color: white;
    
}
.dead-line{
    color: $red;
font-size: 16px;
font-weight: 500;
}
.submitted{
    color: $green !important;
    font-size: 23px;
 }

 .not-submitted{
    color: $red !important;
    font-size: 23px;
 }
 .submitted-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span {
        display: flex;
        align-items: center;
        color: $green;
        font-size: 14px;
        font-weight: 600;
        @media screen and (max-width:1024px) {
            font-size:12px !important;
         }
         @media screen and (max-width:991px) {
            font-size:14px !important;
         }
         @media screen and (min-width:1600px) {
           font-size: 18px;
        }

        svg {
            height: 12px !important;
            width: 12px !important;
            fill: $green;
            @media screen and (min-width:1600px) {
                height: 14px;
                width: 14px;
            }

        }

    }

    .last-date {
        color: $green;
        font-weight: 600 !important;
        @media screen and (min-width:1600px) {
            font-size: 16px;
        }
    }
}