.present{
 color: $green;
 font-weight: 600 !important;
 text-transform: capitalize;
}
.absent{
    color: $red;
    font-weight: 600 !important;
    text-transform: capitalize;
   }
   .total-atendence-cel1{
       display: flex;
       justify-content: center;
       align-items: center;
       .total-atendence{
        font-size: 18px;
        color: $green;
        font-weight: 500;
        &-number{
            font-size: 18px;
            color: $green;
            font-weight: 500;
        }
       }
   }
   .total-atendence-cel2{
    display: flex;
    justify-content: center;
    align-items: center;
    .total-atendence{
     font-size: 18px;
     color: $red;
     font-weight: 500;
     &-number{
         font-size: 18px;
         color: $red;
         font-weight: 500;
     }
    }
}
.total-atendence-cel3{
    display: flex;
    justify-content: center;
    align-items: center;
    .total-atendence{
     font-size: 18px;
     color: $primary-light;
     font-weight: 500;
     &-number{
         font-size: 18px;
         color: $primary-light;
         font-weight: 500;
     }
    }
}
.present{
    color: $green;
}
.absent{
    color: $red;
}
.green{
    color: $green;
}
.red{
    color: $red;
}
.submit-result{
    background-color: $primary-light;
    color: white;
    border: none;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 7px;
}