.sign__section{
    padding:20px 50px;
    background-color: $gray-light3;
    height: 100vh;
    @media only screen and(max-width:767px){
        height: 100% !important;
    }
    @media only screen and(max-width:575px){
        padding: 0px;
    }


    & .container-fluid{
      background-color: white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
      border-radius: 15px;
      overflow: hidden;
      width: 85vw;
      @media only screen and(max-width:991px){
        width: unset;
    }
      @media only screen and(max-width:575px){
        padding: 15px 25px;
    }
     
      & .sign__illustration{
          background-color:  $primary-light;
          min-height: 93vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @media only screen and(max-width:767px){
              display: none;
             
          }
      
         .logo-top{
             position: relative;
             img{
                 position: absolute;
                 top: 10px;
                 left: 30px;
                 height: 60px;
                 width: auto;
                 z-index: 10;
             }
         }
         .welcome{
              height: 280px;
              width: auto;
              @media only screen and(max-width:991px){
                height: 220px;
                width: auto;
              }
          } 
             
      }
      .sign-logo{
        height: 70px;
        width: auto;
        object-fit: cover;
         margin-left: auto;
         margin-top: 15px !important;
         @media only screen and(max-width:767px){
           margin-top: -10px !important;
          }
      }
    .logo-section{
        display: flex;
        align-items: center;
        width: 100%;
    }
   
      & .sign__information{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
         

          .sign-heading{
            font-size: 40px;
            font-weight: 600;
            color:  $primary-light;
            margin-right: auto;
            @media only screen and(max-width:575px){
               font-size: 30px;
            }
            
        }
        
          .sign__form{
              width: 100%;
              input{
                  background-color: $gray-light;
                  border: none;
                  border-bottom: 2px solid  $primary-light;
                  border-radius: 2px;
                  font-size: 16px;
                  font-weight: 500;
                  padding: 23px 40px !important;
                  &:focus{
                      outline: none;
                      box-shadow: none !important;
                  }
                  & ::placeholder{
                      color: $gray-light2;
                  }
              }
             .sign__btn{
                margin-top: 30px !important;
                 a{
                     background-color:  $primary-light;
                     color: white;
                     padding: 13px 27px;
                     font-size:16px ;
                     font-weight: 500;
                     border-radius: 4px;
                     border: 2px solid  $primary-light;
                     text-decoration: none;
                     &:hover{
                         background-color: white;
                         color:  $primary-light;
                         font-weight: 600;
                     }
                     @media only screen and(max-width:575px){
                        padding: 11px 24px;
                     }
                    
                 }
             }
             .sign__text{
                margin-top: 30px !important;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                 a{
                     color:  $primary-light;
                     font-size:20px ;
                     font-weight: 500;
                     margin-left: auto;
                     text-decoration: underline;
                     @media only screen and(max-width:767px){
                       padding-bottom: 80px;
                    }
                    
                 }
             }
            
        }
      }
       
    }
}
.welcome2{
    display: none !important;
    height: 280px;
    width: auto;
    @media only screen and(max-width:767px){
        display: block !important;
    }
    @media only screen and(max-width:575px){
        height: 200px;
     }
}  
.sign-group{
    position: relative; 
    i{
        position: absolute;
        top: 14px;
        left: 10px;
        font-size: 17px;
        color:  $primary-light;
    }
}